// Color Palette
$white: #FFFFFF;
$dark-blue: #001F3F;
$dark-gray: #121212;

// Light Theme
$light-background: $white;
$light-text: $dark-blue;

// Dark Theme
$dark-background: $dark-gray;
$dark-text: $white;
